
// 颜色区域 前缀box
$box-default-color: #163c48 !default;   //1.默认颜色
$box-hd-color: #011926 !default;   //2.盒子头部颜色
$box-bd-color: #1b303c !default;   //3.盒子中部颜色
$box-ft-color: #1b303c !default;   //4.盒子尾部颜色
$box-background-color: black !default;   //5.默认背景颜色
$box-text-color: #7eb2c0 !default;   //6.默认文字颜色
$box-a-color: #436169 !default;   //7.默认链接颜色
$box-a-on-color: #ddd !default;   //8.默认链接悬浮颜色
// 盈利颜色组 盈利ID=0 in the black 前缀black
$black-color: #41a041 !default;   //9.亏损颜色
$black-hd-color: #116411 !default;   //10.亏损头部颜色
$black-bd-color: #012701 !default;   //11.亏损中部颜色
// 亏损颜色组 盈利ID=1 in the red 前缀red
$red-color: #c23943 !default;   //12.亏损颜色
$red-hd-color: #940d12 !default;   //13.亏损头部颜色
$red-bd-color: #5b070a !default;   //14.亏损中部颜色
// 事务显色组 前缀app
$app-warning-color: red !default;   //15.警告颜色
$app-danger-color: #940d12 !default;   //16.危险颜色
$app-info-color: #5b070a !default;   //17.信息颜色
$app-success-color: #c05b55 !default;   //18.成功颜色
$app-primary-color: red !default;   //19.警告颜色
$app-muted-color: #940d12 !default;   //20.失效颜色
// 比例标准
$size: 32px;
$px1: ceil($size/32);
$px2: ceil($size/16);
$px3: ceil($size/12);
$px4: ceil($size/8);
$px5: ceil($size/7);
$px6: ceil($size/5.4);
$px7: ceil($size/4.9);
$px8: ceil($size/4);
$px9: ceil($size/3.7);
$px10: ceil($size/3.2);
$px11: ceil($size/3.1);
$px12: ceil($size/2.7);
$px13: ceil($size/2.5);
$px14: ceil($size/2.3);
$px15: ceil($size/2.2);
$px16: ceil($size/2);
$px17: ceil($size/1.9);
$px18: ceil($size/1.8);
$px19: ceil($size/1.7);
$px20: ceil($size/1.6);
$px21: ceil($size/1.55);
$px22: ceil($size/1.5);
$px23: ceil($size/1.4);
$px24: ceil($size/1.34);
$px25: ceil($size/1.3);
$px26: ceil($size/1.25);
$px27: ceil($size/1.2);
$px28: ceil($size/1.15);
$px29: ceil($size/1.12);
$px30: ceil($size/1.1);
$px31: ceil($size/1.05);
$px32: $size;
$stroke: $px1 solid;









