@import "app";  // 提取默认配置
// 顶部导航
i{display:inline-block;font-style:normal;font-family:'iconfont';color:rgba(255,255,255,0.6);}
i:hover{color:rgba(255,255,255,0.8);}
header{
  display: inline-flex;
  height: $px32;
  width: 100%;
  align-items:center;
  .top-nav{
    width: auto;
    position: fixed;
    right: 0;
    top:0;
    .bg-red:hover{
      -webkit-transition: all 1s ease-out .0s;
      transition: all 1s ease-out .0s;
      background: rgba(255, 0, 0, 0.6);
    }
    i{
      padding: $px3 $px12;
      display: block;
      float: left;
      &:hover{
        -webkit-transition: all 1s ease-out .0s;
        transition: all 1s ease-out .0s;
        background: rgba(0, 0, 0, 0.4);
      }

    }
  }
  .top{
    height: 30px;line-height: 30px;font-size: $px14;
  }
}